# Introduction to List

In [1]:
Numbers=[10 , 20 , 30 , 40 , 50]
print(Numbers)

[10, 20, 30, 40, 50]

In [2]:
li=[10 , 'name' , 4.0]
print(li)

[10, 'name', 4.0]

In [6]:
#List slicing
Numbers=[10 , 20 , 30 , 40 , 50]
Numbers[0:6:2]

[10, 30, 50]

In [7]:
#how to add data in a list
Numbers=[10 , 20 , 30 , 40 , 50]
Numbers.append(60)
print(Numbers)

[10, 20, 30, 40, 50, 60]

In [9]:
Numbers=[10 , 20 , 30 , 40 , 50]
Numbers.insert(3 , 5)
print(Numbers)

[10, 20, 30, 5, 40, 50]

In [10]:
Name=['john' , 'bella' , 'doe']
Name.insert(1 , 'stark')
print(Name)

['john', 'stark', 'bella', 'doe']

In [11]:
#how to join to separate list
n1=[1 , 2 , 3 , 4]
n2=[5 , 6 , 7 , 8]
n3=n1+n2
print(n3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
n1.extend(n2)
print(n1)

[1, 2, 3, 4, 5, 6, 7, 8, 5, 6, 7, 8]

In [14]:
#how to delete a particular element from the list
n=[1 , 2 , 3 , 4 , 5 , 6 , 7]
n.pop()
print(n)

[1, 2, 3, 4, 5, 6]

In [17]:
#Exercise
fruits=['apple' , 'mango' , 'banana' , 'orange']
if 'apple' in fruits:
    print('apple is present')
else:
    print('apple is absent')

apple is present

In [18]:
#looping in list
no=[1 ,2 , 3 ,4 ,5]
for i in no:
    print(i)

1
2
3
4
5

# Nested List

In [3]:
no=[1 , 2 , 3 ,[1 , 2 , [2 , 3]]]
no[1]

2

In [6]:
                   #(3)
    
    
    #0   1   2    0  1  
    
                            #(2)
                          #0    1
#no=[1 , 2 , 3 ,[1 , 2 , [2 , 3]]]

In [ ]:
   0   1        (3)       (4)
             0   1      0    1
no=[1 , 2 , [3 , 4 ] , [5 , 6]]

In [7]:
no=[1 , 2 , 3 ,[1 , 2 , [2 , 3]]]
no[3][2][1]

3

In [8]:
name=['john' ,['bella' , 'edward'] , 'deniz']
name[1][1]

'edward'

#  Some more methods in list

In [9]:
#count-it count the no of particular element
#sort - sort the elements
#reverse - reverse the elements in the list
#clear - delete the whole list
#copy - copy method is used to copy the list 
#split - split the string or an elements
#join - to join the list in a string
#list - it is used to generate a list

In [10]:
#count
name=['john' , 'bella' , 'stark' , 'edward' , 'bella']
print(name.count('bella'))

2

In [15]:
#sort
name=['john' , 'bella' , 'stark' , 'edward' , 'bella']
name.sort()
print(name)

['bella', 'bella', 'edward', 'john', 'stark']

In [16]:
no=[3 , 5 ,1 , 6, 2]
no.sort()
print(no)

[1, 2, 3, 5, 6]

In [17]:
#reverse
no=[1 ,2 ,3 ,4, 5]
no.reverse()
print(no)

[5, 4, 3, 2, 1]

In [18]:
name=['john' , 'bella' , 'stark' , 'edward' , 'bella']
name.reverse()
print(name)

['bella', 'edward', 'stark', 'bella', 'john']

In [19]:
#clear
no=[1 ,2 ,3 ,4, 5]
no.clear()
print(no)

[]

In [20]:
name=['john' , 'bella' , 'stark' , 'edward' , 'bella']
name_copy=name.copy()
print(name_copy)

['john', 'bella', 'stark', 'edward', 'bella']

In [21]:
#split
user_info='john 24'.split()
print(user_info)

['john', '24']

In [22]:
name , age =input().split(' ')
print(name)
print(age)

bella 21
bella
21

In [26]:
user_info=['john', '24']
joined=''.join(user_info)
print(joined)

john24

In [28]:
#list method
no=list(range(1 , 51))
print(no)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [34]:
#define a function which take a list as an argument and sqaure the elements of the list
def square(l):
    square=[] #[1 , 4 , ]
    for i in l:
        item=i**2
        square.append(item)
    return square
li=list(range(1 , 11))
res=square(li)
print(res)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
#define a function which take list as an argument and return reveersed list
def reversed(l):
    reversed_list=l[::-1]
    return reversed_list
li=list(range(1 , 21))
res=reversed(li)
print(res)

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [40]:
#define the function which take list as an argument and return the reversed of a word of the list

#['abc' , 'def' 'ghi']  
def word_revesed(l):
    elements=[]
    for i in l:
        item=i[::-1]
        elements.append(item)
    return elements
li=['abc' , 'def' , 'ghi']
res=word_revesed(li)
print(res)

['cba', 'fed', 'ihg']